<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/normalisation.css">
    <link rel="stylesheet" href="assets/css/tablette.css">
    <link rel="stylesheet" href="assets/css/desktop.css">
    <title>My picture box</title>
</head>

<body>
    <div id="app">
        <header>
            <h1 class="border">{{ titlePage }}</h1>
        </header>
        <nav class="">
            <ul class="container list-item ">
                <li v-for="item in nav" class="border">{{item.text}} </li>
            </ul>
        </nav>
        <div id="maindiv">
            <aside class="height_5em container list-item aside-m">
                <img v-for="image in images" v-bind:src="image.src" v-bind:title="image.title" v-bind:alt="image.alt" />

            </aside>
            <main class="container">
                <h2 class="height_5em" id="titrimg">{{bigImage.title}}</h2>
                <img v-bind:src="bigImage.src" v-bind:title="bigImage.title" v-bind:alt="bigImage.alt" id="bigpicture">
                <p id="commentary">{{bigImage.alt}}</p>
            </main>
        </div>


    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="assets/js/script.js"></script>

</html>