body {
    font-size: 1.5em;
    width: 90%;
    display: flex;
    flex-direction: column;
    color: blanchedalmond;
    background-color: rgb(245, 218, 129);
}

#wrapper {
    width: 100%;
    margin: auto;
    padding: 0.5em;
}

header {
    display: flex;
    margin: auto;
    flex-direction: column;
}

.container {
    background-color: rgb(150, 219, 93);
    margin-top: 1rem;
}

h1 {
    width: 80%;
    margin: auto;
}

.list-item {
    overflow-x: scroll;
    display: flex;
    flex-flow: nowrap;
}

.border {
    text-align: center;
    box-sizing: border-box;
    /* margin: auto; */
    border: 2px rgb(14, 75, 2) solid;
    background-color: rgb(67, 122, 51);
    /* background-color: rgb(64, 135, 175); */
    border-radius: 30px;
    padding: 0.3em;
}

nav>ul>li {
    font-size: 0.9em;
    list-style: none;
    margin: 0.5em;
}

nav>ul>li:hover {
    background-color: blueviolet;
    cursor: pointer;
}

.heigh_5em {
    height: 5em;
}

img {
    padding: 0.3em;
    width: 10rem;
}

#maindiv {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    font-size: 0.8em;
}

h2,
#commentary {
    box-sizing: border-box;
    margin: 2%;
    border-radius: 7px;
}

#comm {
    height: 8rem;
    text-align: left;
}

#bigpicture {
    box-sizing: border-box;
    width: 100%;
}